@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-screen;
    @apply text-[62.5%];
    @apply bg-gray-100;
  }

  body {
    @apply font-roboto;
    @apply h-full;
  }
  
  input, button {
    @apply font-roboto;
  }

  .containerArea {
    @apply max-w-[112rem];
    @apply mx-auto;
  }

    /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .successSumaryBorder {
    background: white;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-clip: padding-box;
    position: relative;
  }
  
  .successSumaryBorder::before {
    content: "";
    background: linear-gradient(45deg, #DBAC2C, #8047F8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    z-index: -1;
    margin: -1px;
    position: absolute;
  }

}